    #snackbar {
    line-height: 1px;
    font-size: 14px;
    visibility: hidden;
    width: 90%;
    margin-left: 0;
    background-color: #333;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
    bottom: -50px;
    transition: 0.3s cubic-bezier(0.42, -0.01, 0, 0.99), opacity 0.5s cubic-bezier(0.01, 0.48, 0.58, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (min-width: 767px) {
#snackbar {
width: 288px;
border-radius: 3px;
left: 2%;
box-shadow: rgba(0, 0, 0, 0.19) 0px 1.25px 5px 0px, rgba(0, 0, 0, 0.04) 0px 0.3333px 1.5px 0px;
 }

    #snackbar.show {
      margin-bottom: 20px;
    }
}

    #snackbar.show {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
    line-height: 16px;
    color: #fff;
}

    #snackbar.hide {
    bottom: 10px;
    width: 90%;
    line-height: 10px;
}