    #snackbar {
      line-height: 16px;
      font-size: 14px;
      visibility: hidden;
      width: 100%;
      margin-left: 0px;
      background-color: #333;
      color: #fff;
      text-align: left;
      border-radius: 0px;
      padding: 16px;
      position: fixed;
      box-sizing: border-box;
      z-index: 1;
      left: 0%;
      bottom: -50px;
      transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s linear;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

@media (min-width: 767px) {
#snackbar {
width: 250px;
border-radius: 3px;
left: 2%;
 }

    #snackbar.show {
      margin-bottom: 20px;
    }
}

    #snackbar.show {
      visibility: visible;
      opacity: 1;
      bottom: 0px;
    }

    #snackbar.hide {
      bottom: -60px;
    }